<ion-card *ngFor="let book of books" (click)="showEdit(book)" class="book-card">
  <ion-card-content>
    <div class="book-info" class="book-card-content">
      <img class="book-result-img" *ngIf="book.thumbnailUrl" src="{{book.thumbnailUrl}}" alt="" />
      <div class="book-result-img-alt" *ngIf="!book.thumbnailUrl">?</div>
      <div class="book-info">
        <h2>{{book.name || book.title}}</h2>
        <div>{{book.author}} <span gray italic>{{book.publishedYear}}</span></div>
      </div>
    </div>

    <div class="review-info" margin-top>
      <div *ngIf="book.read">
        <rating [value]="book.rating"></rating>
        <span pull-right gray italic>Added {{book.created | date:'shortDate'}}</span>
      </div>
      <div *ngIf="!book.read">
        {{book.status}}
        <span pull-right gray italic>Added {{book.created | date:'shortDate'}}</span>
      </div>
      <div *ngIf="book.notes" padding-top>{{book.notes}}</div>
    </div>

  </ion-card-content>
</ion-card>
