<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button menuToggle><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
    <ion-title>
      Import/Export
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <button block (click)="write()" margin-vertical>Back Up current data</button>

  <h2 margin-left>Previous Backups</h2>
  <ion-spinner *ngIf="loading" name="dots" full-width></ion-spinner>
  <div *ngIf="loadError" largerer text-center margin>
    There was an error loading your backups. Please try again later.
  </div>
  <ion-list>
    <ion-item *ngFor="let file of files" (click)="viewDetail(file)">
      {{file.client_modified | date:'medium'}}
    </ion-item>
  </ion-list>
</ion-content>
