<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button menuToggle><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
    <ion-title>
      Edit Backup
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="loadError" largerer text-center margin>
    <p>There was an error loading your backup. Please try again later.</p>
    <p>If this issue persists, please ensure that you have not edited the files in Apps/Bookmarks Mobile App, or if you have, to revert any changes.</p>
  </div>
  <div *ngIf="backup">
    <div flex justify-content-space-around>
      <button half (click)="restore()">Restore Items</button>
      <button half danger (click)="delete()">Delete Backup</button>
    </div>

    <h1>{{backup.books.length}} books <span gray italic smallerer>{{backup.date | date:'medium'}}</span></h1>

    <ion-card *ngFor="let book of backup.books">
      <ion-card-content>
        <h1><ion-icon *ngIf="book.read" name="checkmark-circle" smaller gray></ion-icon> {{book.name}}</h1>
        <div *ngIf="book.read">
          <rating [value]="book.rating"></rating>
          <span pull-right gray italic>Added {{book.created | date:'shortDate'}}</span>
        </div>
        <div *ngIf="!book.read">
          {{book.status}}
          <span pull-right gray italic>Added {{book.created | date:'shortDate'}}</span>
        </div>
        <div *ngIf="book.notes" padding-top>{{book.notes}}</div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
